.bg {
    /* The image used */
    background-image: url(/assets/bac4.jpg);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position:unset;
    background-repeat: no-repeat;
    background-size: cover;
 }